  ul { list-style-type: none; margin: 0; padding: 0; margin-bottom: 10px; }
  li { margin: 5px; padding: 5px; width: 150px; }

#sortable, #draggable { 
 	list-style-type: none; 
 	margin: 0; 
 	padding: 0 0 2.5em; 
 	float: left; 
 	margin-right: 10px; 
 }

#sortable li, #draggable { 
	margin: 0 5px 5px 5px; 
	padding: 5px; font-size: 1.2em; 
	width: 120px; 
}

.drop {
  background: #6B7B95;
  float: left;
  height: 60px;
  margin-left: 20px;
  margin-top: 20px;
  width: 72px;
}

.ui-state-highlight { height: 1.5em; line-height: 1.2em; }

body {
	font-family: "Trebuchet MS", "Helvetica", "Arial",  "Verdana", "sans-serif";
	font-size: 62.5%;
}


